.card_title {
    font-weight: 600;
    margin-bottom: 15px;
}

.card_status {
    margin-bottom: 10px;
}

.card_duedate {
    font-size: 0.8rem;
    color: #959595
}

.card_avatar {
    padding-right: 8px;
}

.star_button {
    color: #545454
}